@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --orange: #FB9529;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgba(217, 217, 217, 0.4); /* Semi-transparent background */
    /* position: absolute; Position the nav absolutely */
    /* top: 0; Align it to the top of the page */
    width: 100%; /* Make it full-width */
    z-index: 1; /* Ensure it stays on top of other content */
}
ul{
    display : flex;
    flex-direction: row;
    justify-content : space-between;
    align-items : center;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px;
}
li{
    margin: 10px;

}


.cart{
    margin-left: auto;
}

.cart svg{
    height: 50px;
}



.hero-img {
    background-image:url("../img/hero.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text{
    font-size: 120px;
    color: var(--orange);
    margin-left: 100px;

  }

  .grey-bg{
    background-color: #4d4d4da9;
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: 0%;
  }
.post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #D9D9D9;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
   width: 80%;
   margin-top: 50px;
}
.posts-container{
    display: flex;
    justify-content: center;
}
.post img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}
.post-text{
    width: 100%;
    display: flex;
    flex-direction: column;
}

button{
    background-color: var(--orange);
    color: black;
    padding: 15px;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
button svg{
    height: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.categories-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1160px;
    margin: 128px auto;
}
.categories {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}
.category-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 182px;
    height: 182px;
    padding: 20px;
    background-color: var(--orange);
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--orange);
    color: black;
    margin-top: 20px;
}