.woocommerce {
    color: #000000;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 0 50px; /* Add padding to the sides */
}
.woocommerce-info::before {
    display: none !important;
}
.showcoupon {
    margin-left: 4px;
}
.woocommerce-info {
    display: flex;
    border: 1px solid #dedede;
    border-radius: 10px;
    align-items: center;
}
.stripe-gateway-stripelink-modal-trigger {
    display: none !important;
}
.col-1, .col-2 {
    padding: 0 !important;
}
div#customer_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    width: 100% !important;
    background-color: none !important;
    border: none !important;
    box-shadow: none !important;
}
.form-row.place-order {
    display: flex;
    justify-content: center;
    align-items: center;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    width: 100% !important;
    background-color: none !important;
    border: none !important;
    box-shadow: none !important;
}
.woocommerce-checkout form.checkout {
    flex: 1.5; /* Same as basket */
    /* padding: 20px; */
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -3px 1px 30px -5px rgba(30,30,30,0.33);
}

.woocommerce-checkout-review-order {
    flex: 1;
    /* padding: 20px; */
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -3px 1px 30px -5px rgba(30,30,30,0.33);
}

.woocommerce-checkout-review-order h3 {
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
}

.woocommerce-checkout #payment {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #dedede;
}

/* Buttons */
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce .button {
    background-color: #FB9529;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce .button:hover {
    background-color: #F2662B;
    color: #ffffff;
    transition: 0.3s, color 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
    .woocommerce-checkout {
        flex-direction: column;
        padding: 0 20px;
    }

    .woocommerce-checkout form.checkout,
    .woocommerce-checkout-review-order {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .woocommerce .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
