
.woocommerce-notices-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    background-color: aqua;
    padding: 20px;
}

.woocommerce-cart-form table.shop_table {
    width: 100%;
}

.woocommerce-cart-form table.shop_table thead {
    background-color: #f0f0f0;
}

.woocommerce-cart-form .actions {
    text-align: right;
    padding: 20px 0;
}

.woocommerce-cart-form .checkout-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
}




.wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
}