form{
    display: flex;
    margin-right: 20px;
    border: 1px solid #dedede; 
    border-radius: 10px;
    background-color: #fff; 
    box-shadow: -3px 1px 30px -5px rgba(30,30,30,0.33);
}

body{
    background-color: aqua;
}