.woocommerce{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.woocommerce .woocommerce-cart-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
    width: 60%;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 13px -3px rgba(71,71,71,0.32);
    padding: 20px;
}

.woocommerce-cart .cart-collaterals .cart_totals table{
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 13px -3px rgba(71,71,71,0.32);
    padding: 20px;
    margin-right: 30px;
}
