.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button {
    background-color: #FB9529;
    color: black;
    padding: 15px;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;

}

/* General container for products */
.woocommerce ul.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 products per row */
    grid-gap: 30px; /* Space between products */
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    list-style: none;
    max-width: 1200px; /* Set a maximum width */
    width: 100%; /* Ensure it fills available space */
}

/* Each product item */
.woocommerce ul.products li.product {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align product text */
    width: 100%; /* Ensure each product takes up full width */
    height: 100%; /* Ensure each product takes up full height */
}

/* Product image */
.woocommerce ul.products li.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


/* Product pagination styles */
.woocommerce nav.woocommerce-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Pagination buttons */
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
